.inicio{
    display: flex;
    width: 100%;
    align-items: center;
}

.inicio > img{
    padding: 1rem;
    width: 30rem;
    height: 30rem;
}

.saludo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s; 
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%;
    display: inline-block;
    }
    
    @keyframes wave-animation {
        0% {
        transform: rotate(0deg);
        }
        10% {
        transform: rotate(14deg);
        } 
        20% {
        transform: rotate(-8deg);
        }
        30% {
        transform: rotate(14deg);
        }
        40% {
        transform: rotate(-4deg);
        }
        50% {
        transform: rotate(10deg);
        }
        60% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(0deg);
        }
}

.presentacion{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.mi_presentacion{
    display: flex;

}
.mi_presentacion > p{
    margin: 5rem;
}

@media (max-width:801px)  {
    .inicio > img, .mi_presentacion > img{
        width: 25rem;
        height: 20rem;
    }
}
@media (max-width:480px) {
    .inicio{
        flex-direction: column;
        justify-content: center;
    }
    .mi_presentacion{
        flex-direction: column;
    }
}