.footer{
    background-color: rgb(182, 135, 226);
    box-shadow: 3px 5px 6px 5px rgba(89, 4, 168, 0.137) !important;
    width: 100%;
}
.link_contacto{
    display: flex;
    justify-content: center;
}

.link_contacto > a{
    margin: 1.5rem;
}

.link_contacto > a > svg{
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}

.footer > p{
    color: white;
    padding-bottom: 1rem;
}